<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.knime.org/2008/09/XMLConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.knime.org/2008/09/XMLConfig http://www.knime.org/XMLConfig_2008_09.xsd" key="settings.xml">
<entry key="node_file" type="xstring" value="settings.xml"/>
<config key="flow_stack"/>
<config key="internal_node_subsettings">
<entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
</config>
<config key="model">
<config key="column-filter">
<entry key="filter-type" type="xstring" value="STANDARD"/>
<config key="included_names">
<entry key="array-size" type="xint" value="172"/>
<entry key="0" type="xstring" value="edo"/>
<entry key="1" type="xstring" value="f7"/>
<entry key="2" type="xstring" value="f21"/>
<entry key="3" type="xstring" value="p45"/>
<entry key="4" type="xstring" value="p46"/>
<entry key="5" type="xstring" value="p47"/>
<entry key="6" type="xstring" value="p48"/>
<entry key="7" type="xstring" value="p50h"/>
<entry key="8" type="xstring" value="p50m"/>
<entry key="9" type="xstring" value="p56"/>
<entry key="10" type="xstring" value="p57"/>
<entry key="11" type="xstring" value="p58"/>
<entry key="12" type="xstring" value="p60"/>
<entry key="13" type="xstring" value="p62_1"/>
<entry key="14" type="xstring" value="p62_2"/>
<entry key="15" type="xstring" value="p63_1"/>
<entry key="16" type="xstring" value="p63_2"/>
<entry key="17" type="xstring" value="p63_3"/>
<entry key="18" type="xstring" value="p63_4"/>
<entry key="19" type="xstring" value="p63_5"/>
<entry key="20" type="xstring" value="p63_6"/>
<entry key="21" type="xstring" value="p63_7"/>
<entry key="22" type="xstring" value="p63_8"/>
<entry key="23" type="xstring" value="p63_9"/>
<entry key="24" type="xstring" value="p63_10"/>
<entry key="25" type="xstring" value="p63_11"/>
<entry key="26" type="xstring" value="p63_12"/>
<entry key="27" type="xstring" value="p63_13"/>
<entry key="28" type="xstring" value="p63_14"/>
<entry key="29" type="xstring" value="p63_15"/>
<entry key="30" type="xstring" value="p63_16"/>
<entry key="31" type="xstring" value="p63_17"/>
<entry key="32" type="xstring" value="p63_18"/>
<entry key="33" type="xstring" value="p63_19"/>
<entry key="34" type="xstring" value="p63_20"/>
<entry key="35" type="xstring" value="p63_21"/>
<entry key="36" type="xstring" value="p63_22"/>
<entry key="37" type="xstring" value="p63_23"/>
<entry key="38" type="xstring" value="p64"/>
<entry key="39" type="xstring" value="p65_1"/>
<entry key="40" type="xstring" value="p65_2"/>
<entry key="41" type="xstring" value="p65_3"/>
<entry key="42" type="xstring" value="p65_4"/>
<entry key="43" type="xstring" value="p65_5"/>
<entry key="44" type="xstring" value="p65_6"/>
<entry key="45" type="xstring" value="p65_7"/>
<entry key="46" type="xstring" value="p65_8"/>
<entry key="47" type="xstring" value="p65_9"/>
<entry key="48" type="xstring" value="p65_10"/>
<entry key="49" type="xstring" value="p65_11"/>
<entry key="50" type="xstring" value="p65_12"/>
<entry key="51" type="xstring" value="p65_13"/>
<entry key="52" type="xstring" value="p65_14"/>
<entry key="53" type="xstring" value="p65_15"/>
<entry key="54" type="xstring" value="p65_16"/>
<entry key="55" type="xstring" value="p65_17"/>
<entry key="56" type="xstring" value="p65_18"/>
<entry key="57" type="xstring" value="p65_19"/>
<entry key="58" type="xstring" value="p65_20"/>
<entry key="59" type="xstring" value="p65_21"/>
<entry key="60" type="xstring" value="p65_22"/>
<entry key="61" type="xstring" value="p65_23"/>
<entry key="62" type="xstring" value="p67"/>
<entry key="63" type="xstring" value="p68"/>
<entry key="64" type="xstring" value="p69"/>
<entry key="65" type="xstring" value="p70"/>
<entry key="66" type="xstring" value="p71"/>
<entry key="67" type="xstring" value="p73_1"/>
<entry key="68" type="xstring" value="p73_2"/>
<entry key="69" type="xstring" value="p73_3"/>
<entry key="70" type="xstring" value="p73_4"/>
<entry key="71" type="xstring" value="p73_5"/>
<entry key="72" type="xstring" value="p73_6"/>
<entry key="73" type="xstring" value="p73_7"/>
<entry key="74" type="xstring" value="p73_8"/>
<entry key="75" type="xstring" value="p73_9"/>
<entry key="76" type="xstring" value="p73_10"/>
<entry key="77" type="xstring" value="p73_11"/>
<entry key="78" type="xstring" value="p73_12"/>
<entry key="79" type="xstring" value="p73_13"/>
<entry key="80" type="xstring" value="p73_14"/>
<entry key="81" type="xstring" value="p73_15"/>
<entry key="82" type="xstring" value="p74a"/>
<entry key="83" type="xstring" value="p74b"/>
<entry key="84" type="xstring" value="p74c"/>
<entry key="85" type="xstring" value="p74d"/>
<entry key="86" type="xstring" value="p74e"/>
<entry key="87" type="xstring" value="p74f"/>
<entry key="88" type="xstring" value="p74g"/>
<entry key="89" type="xstring" value="p74h"/>
<entry key="90" type="xstring" value="p74i"/>
<entry key="91" type="xstring" value="s1"/>
<entry key="92" type="xstring" value="s3"/>
<entry key="93" type="xstring" value="s4"/>
<entry key="94" type="xstring" value="s5"/>
<entry key="95" type="xstring" value="s6"/>
<entry key="96" type="xstring" value="s7"/>
<entry key="97" type="xstring" value="s8"/>
<entry key="98" type="xstring" value="s11"/>
<entry key="99" type="xstring" value="s12"/>
<entry key="100" type="xstring" value="b20"/>
<entry key="101" type="xstring" value="b21"/>
<entry key="102" type="xstring" value="b22_1"/>
<entry key="103" type="xstring" value="b22_2"/>
<entry key="104" type="xstring" value="b22_3"/>
<entry key="105" type="xstring" value="b22_4"/>
<entry key="106" type="xstring" value="b22_5"/>
<entry key="107" type="xstring" value="b22_6"/>
<entry key="108" type="xstring" value="b22_7"/>
<entry key="109" type="xstring" value="b22_8"/>
<entry key="110" type="xstring" value="b22_9"/>
<entry key="111" type="xstring" value="b22_10"/>
<entry key="112" type="xstring" value="b22_11"/>
<entry key="113" type="xstring" value="b22_12"/>
<entry key="114" type="xstring" value="b22_13"/>
<entry key="115" type="xstring" value="b22_14"/>
<entry key="116" type="xstring" value="b22_15"/>
<entry key="117" type="xstring" value="b22_16"/>
<entry key="118" type="xstring" value="b22_17"/>
<entry key="119" type="xstring" value="b22_18"/>
<entry key="120" type="xstring" value="b22_19"/>
<entry key="121" type="xstring" value="b22_20"/>
<entry key="122" type="xstring" value="b22_21"/>
<entry key="123" type="xstring" value="b22_22"/>
<entry key="124" type="xstring" value="b22_23"/>
<entry key="125" type="xstring" value="b22ot"/>
<entry key="126" type="xstring" value="b23"/>
<entry key="127" type="xstring" value="b24_1"/>
<entry key="128" type="xstring" value="b24_2"/>
<entry key="129" type="xstring" value="b24_3"/>
<entry key="130" type="xstring" value="b24_4"/>
<entry key="131" type="xstring" value="b24_5"/>
<entry key="132" type="xstring" value="b24_6"/>
<entry key="133" type="xstring" value="b24_7"/>
<entry key="134" type="xstring" value="b24_8"/>
<entry key="135" type="xstring" value="b24_9"/>
<entry key="136" type="xstring" value="b24_10"/>
<entry key="137" type="xstring" value="b24_11"/>
<entry key="138" type="xstring" value="b24_12"/>
<entry key="139" type="xstring" value="b24_13"/>
<entry key="140" type="xstring" value="b24_14"/>
<entry key="141" type="xstring" value="b24_15"/>
<entry key="142" type="xstring" value="b24_16"/>
<entry key="143" type="xstring" value="b24_17"/>
<entry key="144" type="xstring" value="b24_18"/>
<entry key="145" type="xstring" value="b24_19"/>
<entry key="146" type="xstring" value="b24_20"/>
<entry key="147" type="xstring" value="b24_21"/>
<entry key="148" type="xstring" value="b24_22"/>
<entry key="149" type="xstring" value="b24_23"/>
<entry key="150" type="xstring" value="b24ot"/>
<entry key="151" type="xstring" value="b25"/>
<entry key="152" type="xstring" value="b26_1"/>
<entry key="153" type="xstring" value="b26_2"/>
<entry key="154" type="xstring" value="b26_3"/>
<entry key="155" type="xstring" value="b26_4"/>
<entry key="156" type="xstring" value="b26_5"/>
<entry key="157" type="xstring" value="b26_6"/>
<entry key="158" type="xstring" value="b26ot"/>
<entry key="159" type="xstring" value="b27_1"/>
<entry key="160" type="xstring" value="b27_2"/>
<entry key="161" type="xstring" value="b27_3"/>
<entry key="162" type="xstring" value="b27_4"/>
<entry key="163" type="xstring" value="b27_5"/>
<entry key="164" type="xstring" value="b27_6"/>
<entry key="165" type="xstring" value="b27_7"/>
<entry key="166" type="xstring" value="b27ot"/>
<entry key="167" type="xstring" value="b28"/>
<entry key="168" type="xstring" value="b29"/>
<entry key="169" type="xstring" value="b30"/>
<entry key="170" type="xstring" value="b30h"/>
<entry key="171" type="xstring" value="b30m"/>
</config>
<config key="excluded_names">
<entry key="array-size" type="xint" value="102"/>
<entry key="0" type="xstring" value="f6_res1"/>
<entry key="1" type="xstring" value="f6_res2"/>
<entry key="2" type="xstring" value="f6_res3"/>
<entry key="3" type="xstring" value="f9_1"/>
<entry key="4" type="xstring" value="f9_2"/>
<entry key="5" type="xstring" value="f9_3"/>
<entry key="6" type="xstring" value="f9_4"/>
<entry key="7" type="xstring" value="f9_5"/>
<entry key="8" type="xstring" value="f9_6"/>
<entry key="9" type="xstring" value="f9_7"/>
<entry key="10" type="xstring" value="f10_1"/>
<entry key="11" type="xstring" value="f10_2"/>
<entry key="12" type="xstring" value="f10_3"/>
<entry key="13" type="xstring" value="f10_4"/>
<entry key="14" type="xstring" value="f10_5"/>
<entry key="15" type="xstring" value="f10_6"/>
<entry key="16" type="xstring" value="f10_7"/>
<entry key="17" type="xstring" value="f11_1"/>
<entry key="18" type="xstring" value="f11_2"/>
<entry key="19" type="xstring" value="f11_3"/>
<entry key="20" type="xstring" value="f11_4"/>
<entry key="21" type="xstring" value="f11_5"/>
<entry key="22" type="xstring" value="f11_6"/>
<entry key="23" type="xstring" value="f11_7"/>
<entry key="24" type="xstring" value="f20h"/>
<entry key="25" type="xstring" value="f20m"/>
<entry key="26" type="xstring" value="p42"/>
<entry key="27" type="xstring" value="p43m"/>
<entry key="28" type="xstring" value="p43a"/>
<entry key="29" type="xstring" value="p44"/>
<entry key="30" type="xstring" value="p49_1"/>
<entry key="31" type="xstring" value="p49_2"/>
<entry key="32" type="xstring" value="p49_3"/>
<entry key="33" type="xstring" value="p49_4"/>
<entry key="34" type="xstring" value="p49_5"/>
<entry key="35" type="xstring" value="p49_6"/>
<entry key="36" type="xstring" value="p49_7"/>
<entry key="37" type="xstring" value="p49_8"/>
<entry key="38" type="xstring" value="p49_9"/>
<entry key="39" type="xstring" value="p49_10"/>
<entry key="40" type="xstring" value="p49_11"/>
<entry key="41" type="xstring" value="p49_12"/>
<entry key="42" type="xstring" value="p49ot"/>
<entry key="43" type="xstring" value="p51_1"/>
<entry key="44" type="xstring" value="p51_2"/>
<entry key="45" type="xstring" value="p51_3"/>
<entry key="46" type="xstring" value="p52_1"/>
<entry key="47" type="xstring" value="p52_2"/>
<entry key="48" type="xstring" value="p52_3"/>
<entry key="49" type="xstring" value="p52_4"/>
<entry key="50" type="xstring" value="p52_5"/>
<entry key="51" type="xstring" value="p52_6"/>
<entry key="52" type="xstring" value="p52_7"/>
<entry key="53" type="xstring" value="p52_8"/>
<entry key="54" type="xstring" value="p52_9"/>
<entry key="55" type="xstring" value="p52_10"/>
<entry key="56" type="xstring" value="p52_5cts"/>
<entry key="57" type="xstring" value="p52_6cts"/>
<entry key="58" type="xstring" value="p52_7cts"/>
<entry key="59" type="xstring" value="p52_8cts"/>
<entry key="60" type="xstring" value="p52_10ts"/>
<entry key="61" type="xstring" value="p53_1"/>
<entry key="62" type="xstring" value="p53_2"/>
<entry key="63" type="xstring" value="p53_3"/>
<entry key="64" type="xstring" value="p53_4"/>
<entry key="65" type="xstring" value="p53_5"/>
<entry key="66" type="xstring" value="p53_6"/>
<entry key="67" type="xstring" value="p53_7"/>
<entry key="68" type="xstring" value="p54"/>
<entry key="69" type="xstring" value="p55"/>
<entry key="70" type="xstring" value="p59"/>
<entry key="71" type="xstring" value="p61"/>
<entry key="72" type="xstring" value="p62_1cts"/>
<entry key="73" type="xstring" value="p62_2cts"/>
<entry key="74" type="xstring" value="p63ot"/>
<entry key="75" type="xstring" value="p65ot"/>
<entry key="76" type="xstring" value="p66"/>
<entry key="77" type="xstring" value="p72"/>
<entry key="78" type="xstring" value="s2m"/>
<entry key="79" type="xstring" value="s2a"/>
<entry key="80" type="xstring" value="s9p"/>
<entry key="81" type="xstring" value="s9m"/>
<entry key="82" type="xstring" value="s10"/>
<entry key="83" type="xstring" value="s13a"/>
<entry key="84" type="xstring" value="s13b"/>
<entry key="85" type="xstring" value="s13c"/>
<entry key="86" type="xstring" value="s13d"/>
<entry key="87" type="xstring" value="s13e"/>
<entry key="88" type="xstring" value="s13f"/>
<entry key="89" type="xstring" value="s13g"/>
<entry key="90" type="xstring" value="s13h"/>
<entry key="91" type="xstring" value="z1h"/>
<entry key="92" type="xstring" value="z1m"/>
<entry key="93" type="xstring" value="pre_pm"/>
<entry key="94" type="xstring" value="padres"/>
<entry key="95" type="xstring" value="padre_ot"/>
<entry key="96" type="xstring" value="region"/>
<entry key="97" type="xstring" value="urbanida"/>
<entry key="98" type="xstring" value="estrato"/>
<entry key="99" type="xstring" value="code_upm"/>
<entry key="100" type="xstring" value="ponde_hogar"/>
<entry key="101" type="xstring" value="ponde_indiv"/>
</config>
<entry key="enforce_option" type="xstring" value="EnforceExclusion"/>
<config key="name_pattern">
<entry key="pattern" type="xstring" value=""/>
<entry key="type" type="xstring" value="Wildcard"/>
<entry key="caseSensitive" type="xboolean" value="true"/>
</config>
<config key="datatype">
<config key="typelist">
<entry key="org.knime.core.data.IntValue" type="xboolean" value="false"/>
<entry key="org.knime.core.data.DoubleValue" type="xboolean" value="false"/>
<entry key="org.knime.core.data.BooleanValue" type="xboolean" value="false"/>
<entry key="org.knime.core.data.LongValue" type="xboolean" value="false"/>
<entry key="org.knime.core.data.StringValue" type="xboolean" value="false"/>
<entry key="org.knime.core.data.date.DateAndTimeValue" type="xboolean" value="false"/>
</config>
</config>
</config>
</config>
<config key="nodeAnnotation">
<entry key="text" type="xstring" value="Elimina las columnas%%00013%%00010que no necesitamos"/>
<entry key="bgcolor" type="xint" value="16777215"/>
<entry key="x-coordinate" type="xint" value="206"/>
<entry key="y-coordinate" type="xint" value="182"/>
<entry key="width" type="xint" value="120"/>
<entry key="height" type="xint" value="30"/>
<entry key="alignment" type="xstring" value="CENTER"/>
<entry key="borderSize" type="xint" value="0"/>
<entry key="borderColor" type="xint" value="16777215"/>
<entry key="defFontSize" type="xint" value="9"/>
<entry key="annotation-version" type="xint" value="20151123"/>
<config key="styles"/>
</config>
<entry key="customDescription" type="xstring" isnull="true" value=""/>
<entry key="state" type="xstring" value="EXECUTED"/>
<entry key="factory" type="xstring" value="org.knime.base.node.preproc.filter.column.DataColumnSpecFilterNodeFactory"/>
<entry key="node-name" type="xstring" value="Column Filter"/>
<entry key="node-bundle-name" type="xstring" value="KNIME Base Nodes"/>
<entry key="node-bundle-symbolic-name" type="xstring" value="org.knime.base"/>
<entry key="node-bundle-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
<entry key="node-bundle-version" type="xstring" value="4.1.3.v202005112252"/>
<entry key="node-feature-name" type="xstring" value="KNIME Core"/>
<entry key="node-feature-symbolic-name" type="xstring" value="org.knime.features.base.feature.group"/>
<entry key="node-feature-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
<entry key="node-feature-version" type="xstring" value="4.1.3.v202005121100"/>
<config key="factory_settings"/>
<entry key="name" type="xstring" value="Column Filter"/>
<entry key="hasContent" type="xboolean" value="true"/>
<entry key="isInactive" type="xboolean" value="false"/>
<config key="ports">
<config key="port_1">
<entry key="index" type="xint" value="1"/>
<entry key="port_spec_class" type="xstring" value="org.knime.core.data.DataTableSpec"/>
<entry key="port_object_class" type="xstring" value="org.knime.core.node.BufferedDataTable"/>
<entry key="port_object_summary" type="xstring" value="Rows: 1541, Cols: 172"/>
<entry key="port_dir_location" type="xstring" value="port_1"/>
</config>
</config>
<config key="filestores">
<entry key="file_store_location" type="xstring" isnull="true" value=""/>
<entry key="file_store_id" type="xstring" value="efbccba6-1afa-466a-9742-adf500855c75"/>
</config>
</config>
